[submodule "external/asio"]
	path = external/asio
	url = https://github.com/chriskohlhoff/asio
[submodule "external/googletest"]
	path = external/googletest
	url = https://github.com/google/googletest.git
[submodule "external/sargs"]
	path = external/sargs
	url = git@github.com:drali/sargs.git
[submodule "external/mio"]
	path = external/mio
	url = https://github.com/mandreyel/mio.git
